body {
  margin: 0;
  height: 100vh;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  min-height: 100vh;
  color: #fff;
}

.app .logo {
  text-align: center;
}

.wrapper {
  padding: 50px 0px;
  width: 800px;
  margin: 0 auto;
}

div.nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

div.nav div {
  text-align: center;
  padding: 15px 3px;
  cursor: pointer;
  align-items: center;
  display: grid;
  transition: .4s ease-in-out;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

div.nav div:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffe81f;
  border-top: 1px solid #ffe81f;
  border-bottom: 1px solid #ffe81f;
}

.active {
  color: #ffe81f;
}


.film-info {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 10px;
}

.meta {
  display: grid;
  grid-template-rows: 300px 1fr;
}

.meta .createdBy {
  font-size: 0.8em;
  color: #aaa;
}

.meta .createdBy div {
  margin-bottom: 5px;
}

.description h2 {
  margin: 0px 0px 1px 0px;
  font-size: 2em;
  color: #ffe81f;
}

.description span.releaseDate {
  margin-left: 5px;
  font-size: 0.4em;
  color: #aaa;
}

.description .opening {
  font-size: 1em;
  color: #ddd;
  line-height: 1.1em;
  font-style: italic;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.content h3 {
  margin: 0px 0px 5px 0px;
  font-size: 1.5em;
  color: #ffe81f;
}

.content-details {
  display: grid;
  grid-template-columns: 24px 1fr;
}

.content-details .icon {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.content-details .icon:hover {
  color: #ffe81f
}

.content-details .details {
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 10px;
}

.details li {
  margin-bottom: 7px;
}

.details li:last-child {
  margin-bottom: 0;
}

.details li .title {
  font-size: 0.85em;
  font-style: italic;
  color: #aaa;
  margin-bottom: 1px;
}

.details li .value {
  text-transform: capitalize;
}

.details li .unit {
  text-transform: lowercase;
  font-size: 0.8em;
}